<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee93.apiboard.dao.PostDAO">

    <insert id="postRegister" parameterType="PostRegisterVO" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO post (category_id,post_writer, post_pw, post_title,post_content)
        VALUES(#{categoryId},#{postWriter},#{postPw},#{postTitle},#{postContent})
    </insert>
</mapper>